* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fira Code';
    src: url(FiraCode-Regular.ttf);
}

body {
    font-family: 'Fira Code', sans-serif, monospace, serif;
    background-color: hsl(0, 0%, 10%);
    color: #ffffff7f;
    line-height: 1.6;
     /* Increase this value for more padding */
    /*padding-right: 20%;*/
    padding-left: 17%;
    padding-right: 17%;
}

h1 {
    color: #ffffff;
    font-size: 1.1 rem;
    padding-top: 10%;
}

h2 {
    color: #ffffff;
    font-size: 0.9 rem;
    /*unbold the h2*/
    font-weight: normal;
}

h3 {
    color: #e0e0e04f;
    font-size: 0.7 rem;
    margin-bottom: 10px;
}

h4 {
    /*italicize the h4*/ 
    color: #ffffff;   
    font-size: 0.6 rem;
    font-weight: bold;
    
}

.container {
    width: 80%;
    margin: 0 auto;

    
}

.other {
    color: #5d8cf9;
    font-size: 0.7 rem;
    margin-bottom: 10px;
}



footer {
    padding: 40px 0;
    color: #8485868e;
}

a {
    color: #ffffff;
    text-decoration: underline dotted 1px;
}

a:hover {
    color: #ffffff;
}


html, body {
    height: 100%; /* Ensures the html and body take up the full height of the viewport */
    margin: 0; /* Removes default margin */
}

body {
    background: linear-gradient(35deg, rgb(25, 40, 49), rgb(34, 47, 55)); /* Your gradient */
    background-size: cover; /* Ensure the gradient covers the entire background */
    background-attachment: fixed; /* Fixes the background so it doesn’t scroll */
    background-repeat: no-repeat; /* Prevents repeating the background */
    min-height: 100vh; /* Ensures the body takes up at least the viewport height */
    display: flex;
    flex-direction: column; /* Flexbox to push footer to the bottom */
}



h1 {
    transition: transform 0.3s ease;
}

h1:hover {
    transform: scale(1.5);
}

.underline {
    display: inline-block;
    padding: 0px 5px; /* Adjust padding to create space between text and border */
    border: 1px solid #ffffff37; /* Adjust border thickness and color */

}