* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Satoshi';
    src: url(Satoshi-Bold.ttf);
}
.social-icons a {
    font-size: 30px;
    margin: 10px;
    margin-left: 0%;
    margin-top: -100%;
    color: #8B746D;
    
}
.social-icons a:hover {
    transform: rotate(15deg);
    color: #A39D86;
}

.colored-bullets {
    list-style-type: disc;
    padding-left: 1rem;
    
}
  
.colored-bullets li {
    margin-bottom: 1rem; /* Adjust as needed */
  }

.colored-bullets li::marker {
    color: #A39D86; /* Only colors the bullet */
} 

body {
    font-family: 'Satoshi', sans-serif, monospace, serif;
    color: #3C3A3C;
    line-height: 1.6;
     /* Increase this value for more padding */
    /*padding-right: 20%;*/
    padding-left: 17%;
    padding-right: 17%;
}

h1, h2, h3, h4 {
    color: #3C3A3C;
    margin-bottom: 20px;
}

h1 {
    font-size: 4rem;
    padding-top: 10%;
    transition: transform 0.3s ease;
    
}

h1:hover {
    transform: scale(1.5);
}

h2 {
    font-size: 2rem;
    /*unbold the h2*/
    font-weight: normal;
    margin-top: -2rem;
}

h3 {
    font-size: 0.7 rem;
    margin-bottom: 10px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #8B746D;
    
}

h4 {

    font-weight: bold;
    margin-bottom: 0px;
}

.container {
    width: 80%;
    margin: 0 auto;

    
}

.other {
    color: #5d8cf9;
    font-size: 0.7 rem;
    margin-bottom: 10px;
}

#about {
    /* Your styles here */
    font-size: 1.1rem;
  }




footer {
    padding: 40px 0;
    color: #8485868e;
}

a {
    color: #8B746D;
    text-decoration: underline dotted 1px;
}

a:hover {
    color: #A39D86;
}



html, body {
    height: 100%; /* Ensures the html and body take up the full height of the viewport */
    margin: 0; /* Removes default margin */
}

body {
    background: #F2F2F0;/* Your gradient */
    background-size: cover; /* Ensure the gradient covers the entire background */
    background-attachment: fixed; /* Fixes the background so it doesn’t scroll */
    background-repeat: no-repeat; /* Prevents repeating the background */
    min-height: 100vh; /* Ensures the body takes up at least the viewport height */
    display: flex;
    flex-direction: column; /* Flexbox to push footer to the bottom */
}


.underline {
    display: inline-block;
    padding: 0px 5px; /* Adjust padding to create space between text and border */
    border: 1px solid #8B746D; /* Adjust border thickness and color */

}